<footer>
    <div class="footer-top">
      <ul class="social-links">
        <li><a href="https://www.facebook.com/yourstore" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.instagram.com/yourstore" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.twitter.com/yourstore" target="_blank"><i class="fab fa-twitter"></i></a></li>
      </ul>
      <p>&copy; 2023 Your Store. All rights reserved.</p>
    </div>
    <div class="footer-bottom">
      <ul class="links">
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/terms">Terms and Conditions</a></li>
        <li><a href="/privacy">Privacy Policy</a></li>
      </ul>
    </div>
  </footer>
