<div class="flex flex-col items-center px-40 mt-10">
    @if(isEdit){
        <h1>
            update category
        </h1>
    }@else {
        <h1>
            Add new category
        </h1>
    }

    <form class="shadow-sm w-96 p-4">
        <div class="flex flex-wrap">
            <div class="w-full gap-4">
                <mat-form-field class="w-full">
                    <mat-label>Name</mat-label>
                    <input matInput type="text"[(ngModel)]="name" name="name">
                </mat-form-field>
            </div>
            <div class="w-full flex justify-center">
                @if(isEdit){
                    <h1>
                        <button mat-raised-button color="primary" [disabled]="!name" (click)="update()">update</button>
                    </h1>
                }@else {
                    <h1>
                        <button mat-raised-button color="primary" [disabled]="!name" (click)="add()">Add</button>
                    </h1>
                }



            </div>
        </div>
    </form>

</div>